.container {
    background-color: aqua;
}
.container-fluid{
    background-color: aliceblue;
    margin-top: 20px;
}
img{
    width: 100%;
    margin-top:20px;
 }
.w-100{
    height:100%
}
